# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
.tox/
dist/
build/

# Environment variables
.env
.flaskenv

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db
